<div class='container'>
  <div class='row pt-5'>
    <div class="col-12">
    <!--検索機能-->
    <% if customer_signed_in? %>
    <div class="search_form">
      <%= form_with url: customers_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <% end %>
    </div>
  </div>
    
  <div class='row pt-5'>
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center">ユーザー一覧</h5>
    </div>
  </div>
  
  <div class='row'>
    <table class='table'>
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th></th>
          <th>氏名</th>
          <th>都道府県</th>
        </tr>
    　</thead>
    　<tbody>
        <% @customers_page.each do |customer| %>
        
        <tr>
          <td><%= customer.id %></td>
          <td><%= image_tag customer.get_image(200,200) %></td>
          <td><%= link_to (customer_path(customer.id)) do %>
          <%= customer.name %>
          <% end %></td>
          <td><%= customer.prefecture %></td>
        </tr>
        
        <% end %>
    　</tbody>
    </table>
  </div>
  
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @customers_page %>
    </div>
  </div>
</div>
