<div class="container mt-5">
  <div class="row">
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center">ユーザー詳細</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 text-center mt-4">
      <%= image_tag @customer.get_image(200,300) %>
    </div>
    <div class="col-md-5 text-left mt-4">
        <p><%= @customer.name %></p>
        <p><%= @customer.prefecture %></p>
    </div>
    <div class="col-md-3 text-left mt-4">
      <% if @customer == current_customer %>
      <p><%= link_to "編集する", edit_customer_path(@customer.id), class: "btn btn-success px-3" %></p>
      <% end %>
      <!--DM機能実装-->
      <% if customer_signed_in? %>
      <% unless @customer.id == current_customer.id %>
        <!--roomが既に作成されている場合-->
        <% if @isroom %>
          <%= link_to "DMへ", room_path(@roomid), class: "btn btn-success px-3" %>
        <!--roomを新しく作成する場合-->
        <% else %>
          <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
          <%= e.hidden_field :customer_id, value: @customer.id %>
        <% end %>
          <%= f.submit "DMを始める", class:"btn btn-primary btn-lg user-show-chat"%>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="row pt-5">
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center"><%= @customer.name %>さんの投稿</h5>
    </div>
  </div>
  
  <% @animals.each do |animal| %>
  <div class="row">
    <div class="col-md-4 text-center mt-4">
      <%= image_tag animal.get_image(200,300) %>
    </div>
    <div class="col-md-2 text-left mt-4">
      <%= link_to animal_path(animal.id) do %>
      <p>種類 : <%= animal.animal_type %></p>
      <p>性別 : <%= animal.gender %></p>
      <p>年齢 : <%= animal.age %>歳</p>
      <p>譲渡場所 : <%= animal.prefecture %></p>
    </div>
    <div class="col-md-12 text-left mt-4">
      <p>紹介文 : <%= animal.introduction %></p>
    </div>
    <% end %>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <table>
          <thead>
            <tr>
              <!--コメント数表示させたい-->
              <th>コメント<%= animal.comments.count %>件</th>
              <th id="favorite_buttons_<%= animal.id %>">
              <% if customer_signed_in? %>
              <%= render "public/favorites/favorites_btn", animal: animal %>
              <% end %>
              </th>
            </tr>
    　     </thead>
    　     <tbody>
            <tr>
              <% if animal.customer == current_customer || admin_signed_in? %>
              <% unless admin_signed_in? %>
              <td><%= link_to "編集する", edit_animal_path(animal.id), class: "btn btn-success px-3" %></td>
              <% end %>
              <td><%= link_to "削除する", animal_path(animal.id), method: :delete, class: "btn btn-danger" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  <% end %>
  
  <div class="row pt-5">
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center">お気に入り一覧</h5>
    </div>
  </div>
  
  <% @favorite_animals.each do |animal| %><br>
  <div class="row pb-2">
    <div class="col-md-4 text-center">
      
      <%= image_tag animal.get_image(200,300) %>
    </div>
    <div class="col-md-2">
      <%= link_to animal_path(animal.id) do %>
      <p>種類 : <%= animal.animal_type %></p>
      <p>性別 : <%= animal.gender %></p>
      <p>年齢 : <%= animal.age %>歳</p>
      <p>譲渡場所 : <%= animal.prefecture %></p>
    </div>
    <div class="col-md-12">
      <p>紹介文 : <%= animal.introduction %></p>
    </div>
      <% end %>
  </div>
  <% end %>
</div>