<div class="container">
  <div class="row pt-5">
    <div class="col-xl-8 ml-auto">
      <%= alert %>
    </div>
  </div>
  
  <div class="row pt-5">
    <div class="mx-auto col-4">
      <h5 class="bg-dark text-light text-center">管理者ログイン</h5><br>
    </div>
  </div>
  
  <%= form_with scope: :admin, url: admin_session_path do |f| %>
  <div class="row">
    <div class="col-xl-8 ml-auto">
      <table>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row pt-3">
    <div class="mx-auto">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
