<div class='container'>
  <div class='row pt-5'>
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">会員一覧</h5>
    </div>
    <table class='table'>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
          <th></th>
        </tr>
    　</thead>
    　<tbody>
　      <% @customers.each do |customer| %>
　      <tr>
　        <td><%= customer.id %></td>
　        <td><%= customer.name %></td>
　        <td><%= customer.email %></td>
　        <td>
            <% if customer.is_deleted == false %>
              <span class="text-success">有効</span>
            <% else %>
              <span class="text-secondary">退会</span>
            <% end %>
          </td>
          <td>
            <%= form_with model:[:admin,@customers], url: admin_root_path, local:true do |f| %>
            <%= f.radio_button :is_deleted, 'false' %>
            <%= f.label :is_deleted, "有効", {value: 'false', style: "display: inline-block;"} %>
            <%= f.radio_button :is_deleted, 'true' %>
            <%= f.label :is_deleted, "退会", {value: 'true', style: "display: inline-block;"} %>
          </td>
          <td><%= f.submit "変更を保存",class: 'btn btn-outline-success btn-lg' %></td>
          <% end %>
　      </tr>
　      <% end %>
    　</tbody>
    </table>
    </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%#= paginate @customers %>
    </div>
  </div>
</div>