<div class="container mt-5">
  <div class="row">
    <div class="col-12">
    <!--検索機能の実装-->
    <%= form_tag(animals_url, :method => :get) do %>
      <%= collection_select :search, :animal_type, @animal_types, :id, :name, {include_blank: "猫・犬"} %>
      <%= collection_select :search, :animal_gender, @animal_genders, :id, :name, {include_blank: "性別"} %>
      <%= collection_select :search, :animal_age, @animal_ages, :id, :name, {include_blank: "年齢"} %>
      <%= collection_select :search, :animal_prefectures, @animal_prefectures, :id, :name, {include_blank: "譲渡場所"} %>
      <%= submit_tag("検索") %>
    <% end %>
    </div>
  </div>
  
  <div class="row pt-5">
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center"><strong>投稿一覧</strong>(全<%= @animals.count %>件)</h5>
    </div>
  </div>
  
  <% @animals_page.each do |animal| %>
    <%= link_to animal_path(animal.id) do %>
      <div class="row">
        <div class="col-md-3 mt-5">
          <%= image_tag animal.get_image(200,200) %>
        </div>
        <div class="col-md-2 mt-5">
          <p>種類 : <%= animal.animal_type %></p>
          <p>性別 : <%= animal.gender %></p>
          <p>年齢 : <%= animal.age %>歳</p>
          <p>譲渡場所 : <%= animal.prefecture %></p>
        </div>
        <div class="col-md-7 mt-5">
          <p>紹介文 : <%= animal.introduction %></p>
        </div>
      </div>
    <% end %>
    
    <strong>コメント<%= animal.comments.count %>件</strong>
    <div id="favorite_buttons_<%= animal.id %>">
      <% if customer_signed_in? %>
      <%= render "public/favorites/favorites_btn", animal: animal %>
      <% end %>
    </div>
  <% end %>
      
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @animals_page %>
    </div>
  </div>  
</div>