<div class="container">
  <div class='row pt-5'>
    <div class="col-xl-8 ml-auto">
      <% if @animal.errors.any? %>
      <%= @animal.errors.count %>件のエラーが発生しました
    <ul>
      <% @animal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
      <% end %>
    </div>
  </div>
  
  <div class="row pt-5">
    <div class="mx-auto col-4">
      <h5 class="bg-dark text-light text-center">新規投稿</h5>
    </div>
  </div>
  
  <%= form_with model: @animal, url: animals_path do |f| %>
  <div class="row pt-4">
    <div class="col-xl-8 ml-auto">
      <table>
        <tr>
          <td>画像</td>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <td>種類</td>
          <td><%= f.select :animal_type, [["犬", "犬"], ["猫","猫"]], include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <td>性別</td>
          <td><%= f.select :gender, [["♂", "♂"], ["♀","♀"]], include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <td>年齢</td>
          <td><%= f.select :age, [["0歳", "0"], ["1歳","1"], ["2歳","2"], ["3歳","3"], ["4歳","4"], ["5歳", "5"], ["6歳","6"], ["7歳","7"], ["8歳","8"], ["9歳","9"], ["10歳","10"], 
          ["11歳","11"], ["12歳","12"], ["13歳","13"], ["14歳","14"], ["15歳", "15"], ["16歳","16"], ["17歳","17"], ["18歳","18"], ["19歳","19"], ["20歳","20"], 
          ["21歳","21"], ["22歳","22"], ["23歳","23"], ["24歳","24"], ["25歳", "25"], ["不明", "不明"]], include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <td>都道府県</td>
          <td><%= f.select :prefecture, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], 
          ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], 
          ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], 
          ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], 
          ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], 
          ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]], include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <td>紹介文</td>
          <td><%= f.text_area :introduction, size: "40x5", placeholder: "去勢済かどうか？ワクチン接種履歴等についてもご記入ください"%></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row pt-3">
    <div class="col-xl-7 ml-auto">
      <%= f.submit "投稿する", class: "btn btn-success ml-5" %>
    </div>
  </div>
  <% end %>
</div>