<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3>投稿内容詳細</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 text-center mt-5">
      <%= image_tag @animal.get_image(200,300) %>
    </div>
    <div class="col-md-2 text-left mt-5">
      <%= link_to animal_path(@animal.id) do %>
      <p>種類 : <%= @animal.animal_type %></p>
      <p>性別 : <%= @animal.gender %></p>
      <p>年齢 : <%= @animal.age %>歳</p>
      <p>譲渡場所 : <%= @animal.prefecture %></p>
    </div>
    <div class="col-md-7 text-left mt-5">
      <p>紹介文 : <%= @animal.introduction %></p>
    </div>
      <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h3>コメントする</h3>
    </div>
  </div>
  
  <!--コメント機能の実装-->
  <div class="row">
    <div class="col-md-12">
      <%= form_with model:[@animal, @comment], method: :post do |f| %>
      <%= f.text_area :comment %>
      <%= f.hidden_field :animal_id, value: @animal.id %>
      <%= f.submit 'コメントする' %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h3>コメント(全<%#= @animals.count %>件)</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 text-center mt-5">
      <%= image_tag @customer.get_image(200,300) %>
    </div>
    <div class="col-md-2 text-left mt-5">
      <%= link_to customer_path(@customer.id) do %>
      <p><%= @customer.name %></p>
      <p><%= @customer.prefecture %></p>
    </div>
    <!--コメントを表示-->
    <div class="col-md-7 text-left mt-5">
      <% @comments.each do |comment| %>
      <%= comment.comment %>
      <% end %>
    </div>
      <% end %>
  </div>
</div>