<div class="container mt-5">
  <div class="row">
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center">投稿内容詳細</h5>
    </div>
  </div>
  
  <div class="row pt-4">
    <div class="col-md-3">
      <%= link_to (customer_path(@customer.id)) do %>
      <p>投稿者 : <%= @animal.customer.name %></p>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @animal.get_image(200,300) %>
    </div>
    <div class="col-md-2">
      <p>種類 : <%= @animal.animal_type %></p>
      <p>性別 : <%= @animal.gender %></p>
      <p>年齢 : <%= @animal.age %>歳</p>
      <p>譲渡場所 : <%= @animal.prefecture %></p>
    </div>
    <div class="col-md-7">
      <p>紹介文 : <%= @animal.introduction %></p>
    </div>
  </div>
  
  <!--いいね機能の実装-->
  <div id="favorite_buttons_<%= @animal.id %>">
    <strong>コメント<%= @animal.comments.count %>件</strong>
    <% if customer_signed_in? %>
    <%= render "public/favorites/favorites_btn", animal: @animal %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-12 mt-5">
      <p>譲渡希望の方はこちらのフォームからコメントを送信願います。</p>
    </div>
  </div>
  
  <!--コメント機能の実装-->
  <% if customer_signed_in? %>
  <%= form_with model:[@animal, @comment], method: :post do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.text_area :message %>
      <%= f.hidden_field :animal_id, value: @animal.id %>
    </div>
    <div class="col-md-9">
      <%= f.submit 'コメントする', class: "btn btn-success ml-5" %>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class="row pt-5">
    <div class="col-xl-3">
      <h5 class="bg-dark text-light text-center">コメント(全<%= @comments.count %>件)</h5>
    </div>
  </div>
  
      <% @comments.each do |comment| %>
  <div class="row pt-5">
    <div class="col-md-3 text-left">
      <%= link_to customer_path(comment.customer.id) do %>
      <%= image_tag comment.customer.get_image(200,300) %>
      <% end %>
    </div>
    <div class="col-md-1">
      <%= link_to customer_path(comment.customer.id) do %>
      <p><%= comment.customer.name %></p>
      <p><%= comment.customer.prefecture %></p>
      <% end %>
    </div>
    <!--コメントを表示-->
    <div class="col-md-4">
      <%= comment.message %>
    </div>
    <div class="col-md-4">
      <% if comment.customer == current_customer || admin_signed_in? %>
      <%= link_to "削除する", animal_comment_path(@animal.id, comment.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
      <% end %>
</div>